<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emdata.mapper.ivvs.IvvsSourceDataMapper">


    <insert id="batchInsert" parameterType="com.emdata.model.dao.IvvsSourceData">
        insert ignore into ivvs_source_data
        (
        uuid,
        sbbh,
        zqmj,
        clfl,
        hpzl,
        hphm,
        xzqh,
        wfdd,
        lddm,
        ddms,
        wfdz,
        wfsj,
        wfsj1,
        wfxw,
        scz,
        bzz,
        zpsl,
        zpwjm,
        zpstr1,
        zpstr2,
        zpstr3,
        zpstr4,
        wfspdz,
        ilocalremote,
        createtime,
        fxdm,
        gxbm,
        yhdm,
        sjly,
        cdh,
        cjh,
        qjcssj,
        datasource,
        status,
        wfxwmc,
        sfjtp,
        clpp,
        csys,
        sfhhdj,
        Xh,
        cdbh,
        hpys,
        xsfx,
        cllx,
        fzjg,
        jdcsyr,
        jtfs,
        zsxzqh,
        dh,
        lxfs,
        xcfw,
        jdzt,
        jdjg,
        alg_status,
        alg_uuid,
        sxjbh,
        gp01,
        alg_err_code,
        view_id,
        city_code
        )
        values
        <foreach collection="list" separator="," item="data">
            (
            #{data.uuid,jdbcType=BIGINT},
            #{data.sbbh,jdbcType=VARCHAR}, #{data.zqmj,jdbcType=VARCHAR},
            #{data.clfl,jdbcType=VARCHAR}, #{data.hpzl,jdbcType=VARCHAR}, #{data.hphm,jdbcType=VARCHAR},#{data.xzqh,jdbcType=VARCHAR},
            #{data.wfdd,jdbcType=VARCHAR}, #{data.lddm,jdbcType=VARCHAR}, #{data.ddms,jdbcType=VARCHAR}, #{data.wfdz,jdbcType=VARCHAR},
            #{data.wfsj,jdbcType=TIMESTAMP}, #{data.wfsj1,jdbcType=TIMESTAMP}, #{data.wfxw,jdbcType=VARCHAR},
            #{data.scz,jdbcType=VARCHAR}, #{data.bzz,jdbcType=VARCHAR}, #{data.zpsl,jdbcType=INTEGER}, #{data.zpwjm,jdbcType=VARCHAR},
            #{data.zpstr1,jdbcType=VARCHAR}, #{data.zpstr2,jdbcType=VARCHAR}, #{data.zpstr3,jdbcType=VARCHAR},
            #{data.zpstr4,jdbcType=VARCHAR}, #{data.wfspdz,jdbcType=VARCHAR}, #{data.ilocalremote,jdbcType=INTEGER},
            #{data.createtime,jdbcType=TIMESTAMP}, #{data.fxdm,jdbcType=VARCHAR}, #{data.gxbm,jdbcType=VARCHAR},
            #{data.yhdm,jdbcType=VARCHAR}, #{data.sjly,jdbcType=VARCHAR}, #{data.cdh,jdbcType=VARCHAR}, #{data.cjh,jdbcType=VARCHAR},
            #{data.qjcssj,jdbcType=TIMESTAMP}, #{data.datasource,jdbcType=VARCHAR}, #{data.status,jdbcType=VARCHAR},
            #{data.wfxwmc,jdbcType=VARCHAR}, #{data.sfjtp,jdbcType=VARCHAR}, #{data.clpp,jdbcType=VARCHAR},
            #{data.csys,jdbcType=VARCHAR}, #{data.sfhhdj,jdbcType=VARCHAR}, #{data.xh,jdbcType=VARCHAR}, #{data.cdbh,jdbcType=VARCHAR},
            #{data.hpys,jdbcType=VARCHAR}, #{data.xsfx,jdbcType=VARCHAR}, #{data.cllx,jdbcType=VARCHAR}, #{data.fzjg,jdbcType=VARCHAR},
            #{data.jdcsyr,jdbcType=VARCHAR}, #{data.jtfs,jdbcType=VARCHAR}, #{data.zsxzqh,jdbcType=VARCHAR},
            #{data.dh,jdbcType=VARCHAR}, #{data.lxfs,jdbcType=VARCHAR}, #{data.xcfw,jdbcType=VARCHAR}, #{data.jdzt,jdbcType=VARCHAR},
            #{data.jdjg,jdbcType=VARCHAR}, #{data.algStatus,jdbcType=SMALLINT}, #{data.algUuid,jdbcType=BIGINT},
            #{data.sxjbh,jdbcType=VARCHAR}, #{data.gp01,jdbcType=VARCHAR}, #{data.algErrCode,jdbcType=INTEGER},
            #{data.viewId,jdbcType=VARCHAR},#{data.cityCode,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>





	 <insert id="saveSourceData" parameterType="com.emdata.model.dao.IvvsSourceData">
        insert into ivvs_source_data
        (
	        uuid,
	        sbbh,
	        zqmj,
	        clfl,
	        hpzl,
	        hphm,
	        xzqh,
	        wfdd,
	        lddm,
	        ddms,
	        wfdz,
	        wfsj,
	        wfsj1,
	        wfxw,
	        scz,
	        bzz,
	        zpsl,
	        zpwjm,
	        zpstr1,
	        zpstr2,
	        zpstr3,
	        zpstr4,
	        wfspdz,
	        ilocalremote,
	        createtime,
	        fxdm,
	        gxbm,
	        yhdm,
	        sjly,
	        cdh,
	        cjh,
	        qjcssj,
	        datasource,
	        status,
	        wfxwmc,
	        sfjtp,
	        clpp,
	        csys,
	        sfhhdj,
	        Xh,
	        cdbh,
	        hpys,
	        xsfx,
	        cllx,
	        fzjg,
	        jdcsyr,
	        jtfs,
	        zsxzqh,
	        dh,
	        lxfs,
	        xcfw,
	        jdzt,
	        jdjg,
	        alg_status,
	        alg_uuid,
	        sxjbh,
	        gp01,
	        alg_err_code,
	        view_id,
	        city_code
        )
        values
        (
	        #{uuid},
	        #{sbbh}, 
	        #{zqmj},
	        #{clfl}, 
	        #{hpzl}, 
	        #{hphm},
	        #{xzqh},
	        #{wfdd}, 
	        #{lddm}, 
	        #{ddms}, 
	        #{wfdz},
	        #{wfsj}, 
	        #{wfsj1}, 
	        #{wfxw},
	        #{scz}, 
	        #{bzz}, 
	        #{zpsl}, 
	        #{zpwjm},
	        #{zpstr1}, 
	        #{zpstr2}, 
	        #{zpstr3},
	        #{zpstr4}, 
	        #{wfspdz}, 
	        #{ilocalremote},
	        #{createtime},
	        #{fxdm}, 
	        #{gxbm},
	        #{yhdm}, 
	        #{sjly}, 
	        #{cdh}, 
	        #{cjh},
	        #{qjcssj}, 
	        #{datasource}, 
	        #{status},
	        #{wfxwmc}, 
	        #{sfjtp}, 
	        #{clpp},
	        #{csys}, 
	        #{sfhhdj}, 
	        #{xh}, 
	        #{cdbh},
	        #{hpys}, 
	        #{xsfx}, 
	        #{cllx}, 
	        #{fzjg},
	        #{jdcsyr}, 
	        #{jtfs}, 
	        #{zsxzqh},
	        #{dh}, 
	        #{lxfs}, 
	        #{xcfw}, 
	        #{jdzt},
	        #{jdjg}, 
	        #{algStatus}, 
	        #{algUuid},
	        #{sxjbh}, 
	        #{gp01}, 
	        #{algErrCode},
	        #{viewId},
	        #{cityCode}
        )
    </insert>
</mapper>
